
   <div style="text-align: center;">
      <h1 style="margin-top: 200px; color: #05445E;" >
         {{title}}
      </h1>
     </div>
     <div>
       <table class="center-hor layout-table" width="50%" >
        <thead>
           <tr class="header-table-gray">
              <th>
                 ID
              </th>
              <th>
                    Nome mercadorias 
              </th>
              <th>
                    Quantidade em estoque
              </th>
              <th>
                 Quantidade Minima
              </th>
              <th>
                 Precisa Comprar
              </th>
             
           </tr>
     
        </thead>
        <tbody>
           <tr class="text-center" *ngFor="let mercadoria of mercadorias ;let par=even; odd as impar"
           [ngClass]="{par:par,impar:impar}" [ngSwitch]="true">
             
              
              <td>
                 {{mercadoria.id}}
              </td>
              <td>
                 {{mercadoria.descricao}}
              </td>
              <td>
                 {{mercadoria.quantidadeEstoque}}
              </td>
              <td>
                 {{mercadoria.quantidadeMinima}}
              </td>
              <td>
                 <span *ngSwitchCase="mercadoria.quantidadeEstoque>mercadoria.quantidadeMinima">Não</span>
                 <span *ngSwitchCase="mercadoria.quantidadeEstoque<mercadoria.quantidadeMinima">Sim</span> 
               <span  *ngSwitchCase="mercadoria.quantidadeEstoque==mercadoria.quantidadeMinima" >Fique atento</span>
              </td>
     
           </tr>
     
     
        </tbody>
       </table>
     </div>
     
     


